.git
.gitignore
.pytest_cache
__pycache__
*.py[cod]
.DS_Store

frontend/node_modules
frontend/.vite
frontend/dist
frontend/tsconfig.tsbuildinfo

app/static/overview

examples/replays
examples/examples
examples/*.pt
examples/*.so
examples/build

tests
src
